body{
background-image:radial-gradient(ellipse,white,grey);
}
#img1{
height:500px;
width:500px;
margin:auto;
margin-top:600px;
clip-path:circle(50%);
}
#img2{
height:500px;
width:500px;
margin:auto;
clip-path:ellipse(25% 40% at 50% 50%);
}
#img3{
height:500px;
width:500px;
margin:auto;
clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
}
#img4{
height:500px;
width:500px;
margin:auto;
clip-path:polygon(0% 0%,100% 0%,100% 75%,75% 75%,75% 100%,50% 75%,0% 75%);
}
