body{
background-image:radial-gradient(ellipse,white,purple);
}
.ls{
width:25%;
height:25%;
background-image:linear-gradient(to left,white,purple);
box-shadow:5px 6px white;
}
h3{
color:purple;
font-family:verdana;
text-shadow:3px 3px white;
}
h3::first-letter{
font-size:3rem;
line-height:0.7;
}

