.flexc{
margin:5px;
padding:1px;
height:50px;
background-color:white;
display:flex;
border:1px solid red;
flex-direction:row;
flex-wrap:wrap;
align-items:flex-start;
align-content:flex-end;
justify-content:space-between;
}
