body{
background-image:url("bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.p{
font-size:30px;
line-height:1.0;
margin-left:5px;
}
table{;
width:550;
 height:50;
}
th,td{
border:1px solid green;
text-align:center;
padding:5px;
}
li{
font-size:25px;
}
footer{
background-color:hotpink;
color:white;
width:99%;
height:20px;
text-align:center;
padding:2px;
bottom:0px;
left:0px;
}
a:link{
color:blue;
}
a:visited{
color:white;
}
a:hover{
color:cyan;
}
a:active{
color:green;
}
a{
background-color:hotpink;
font-style:bold;
border:1px solid;
margin:10px;
padding:10px;
border-radius:5px;
}
table,th,td{
	border: 1px solid black;
	padding:1px;
}
table{
	background-color:#90EE90;
}
th{
	background-color:#FFC0CB;
}
tr:hover{
	background-color:#BFBFBF;
}
tr:nth-child(even){
	background-color:#ECEC53;
}
div{
	overflow-x:all;
}





